<div class="c-action-bar">
    <div class="c-action-bar__item c-action-bar__item--social-menu">
        {% include components/component-social-menu.html %}
    </div>
    <div class="c-action-bar__item c-action-bar__item--language-switcher">
        {% include components/component-language-menu.html %}
    </div>
    <div class="c-action-bar__item c-action-bar__item--cta">
        <div class="c-action-bar__button">
            <a class="c-button c-button--primary c-button--register" href="/registration">
                <span class="u-visible--lang-en">Register</span>
                <span class="u-visible--lang-de">Anmelden</span>
            </a>
        </div>
    </div>
</div>

