<div class="c-tile">
    <div class="c-tile__header">
        <div class="c-tile__title u-visible--lang-en">
            Certificates
        </div>
        <div class="c-tile__title u-visible--lang-de">
            Zertifikate
        </div>
        <div class="c-tile__symbol">
            <svg class="o-icon o-icon--default o-icon--size-2 o-icon__ui--certificate-solid-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--certificate-solid"></use>
            </svg>
        </div>
    </div>
    <div class="c-tile__main">

        <div class="c-tile__section u-visible--lang-en">
            <p>Our language school has received the yearly excellence award by the language course agency languagecourse.net since 2011.</p>

            <p>Our high quality standards have been certified by CERT-IT.</p>
        </div>

        <div class="c-tile__section u-visible--lang-de">
            <p>Unser Sprachinstitut wurde seit 2011 jährlich mit dem Excellence Award der Sprachreiseagentur languagecourse.net ausgezeichnet.</p>

            <p>Der hohe Qualitätsstandard unserer Schule ist durch die Zertifizierungsstelle CERT-IT anerkannt.</p>
        </div>

        <div class="c-tile__section">

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item o-grid__item--width-50">
                    <img class="o-image"
                         src="{{ page.base_url }}assets/images/certificate-certit.jpg" />
                </div>
                <div class="o-grid__item o-grid__item--width-50">
                    <img class="o-image"
                         src="{{ page.base_url }}assets/images/certificate-telc.png" />
                </div>
            </div>

        </div>
    </div>
</div>