<div class="c-tiles c-tiles--footer">
    <div class="c-tiles__content">
        <div class="c-tiles__list">
            <div class="c-tiles__list-item">
                {% include components/footer-tile-about.html %}
            </div>
            <div class="c-tiles__list-item">
                {% include components/footer-tile-contact.html %}
            </div>
            <div class="c-tiles__list-item">
                {% include components/footer-tile-certificates.html %}
            </div>
            <div class="c-tiles__list-item">
                {% include components/footer-tile-privacy.html %}
            </div>
        </div>
    </div>
</div>