<div class="c-colophon">
    <div class="c-colophon__content">
        <div class="c-colophon__item c-colophon__item--meta">
            <p class="c-colophon__actions" id="colophon-actions">
                <a class="c-colophon__link" href="/@@contact-view">Kontakt</a> &ndash;
                <a class="c-colophon__link" href="/@@imprint-view">Impressum</a> &ndash;
                <a class="c-colophon__link" href="/@@terms-and-conditions">AGB</a>
            </p>
        </div>
        <div class="c-colophon__item c-colophon__item--copyright">
            <p class="c-colophon__text">&copy; Copyright 2020 - ADK Augsburger Deutschkurse<br/>
                Deutschlernen in Augsburg</p>
        </div>
    </div>
</div>
