<div class="c-nav-bar c-nav-bar--hidden" id="app-nav-bar">
    <div class="c-nav-bar__header">
        <div class="c-nav-bar__title">
            Navigation
        </div>
        <button type="button"
                class="c-nav-bar__toggle c-nav-bar__toggle--primary js-nav-toggle js-nav-toggle--close"
                id="js-nav-toggle">
            <span class="c-nav__toggle c-nav__toggle--close"><svg
                class="o-icon o-icon--inverse o-icon--nav-toggle o-icon__ui--close-dims app-nav__toggle-icon"><use
                xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--close"></use></svg></span>
        </button>
    </div>
    {% include components/navigation.html %}
</div>
