<nav class="app-navbar" id="app-navbar" role="navigation">
    <div class="app-navbar-header">
        <div class="app-navbar-header-title">
            <button class="app-navbar-brand" href="#" data-toggle="collapse" data-target="#app-navbar-collapse">Rubriken</button>
        </div>
        <div class="app-navbar-header-toggle">
            {% include objects/burger.html %}
        </div>
    </div>

    <div class="navbar-collapse app-navbar-collapse xcollapse navbar-toggleable-xs c-nav-bar c-nav-bar--hidden" id="app-navbar-collapse">
        <ul class="app-navbar-nav" id="app-navbar-nav">
            <li class="app-navitem active">
                <a class="app-navitem-tab app-navitem-tab-home" href="{{ page.base_url }}">
                    <span>Startseite</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab app-navitem-tab-aktuelles" href="{{ page.base_url }}aktuelles">
                    <span>Aktuelles</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab app-navitem-tab-landratsamt" href="{{ page.base_url }}landratsamt">
                    <span>Landratsamt</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab app-navitem-tab-service" href="{{ page.base_url }}service">
                    <span>Service</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab app-navitem-tab-landkreis" href="{{ page.base_url }}landkreis">
                    <span>Landkreis</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab app-navitem-tab-hier-leben" href="{{ page.base_url }}hier-leben">
                    <span>Hier Leben</span>
                </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
