<ul class="c-social-menu">
    <li class="c-social-menu__item c-social-menu__item--primary">
        <a class="c-social-menu__link"
           href="tel:+ 49821314905">
            <svg class="o-icon o-icon--spacer o-icon--size-2-5 o-icon__ui--phone-alt-solid-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--phone-alt-solid"></use>
            </svg>
            <span class="c-social-menu__link-text">
                + 49 (0) 821 - 31 49 05
            </span>
        </a>
    </li>
    <li class="c-social-menu__item c-social-menu__item--default">
        <a class="c-social-menu__link c-social-menu__link--button" href="https://www.instagram.com/adkaugsburg/">
            <svg class="o-icon o-icon--spacer o-icon--size-2-5 o-icon__ui--instagram-brands-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--instagram-brands"></use>
            </svg>
        </a>
    </li>
    <li class="c-social-menu__item c-social-menu__item--default">
        <a class="c-social-menu__link c-social-menu__link--button" href="https://www.facebook.com/adk.germancourses">
            <svg class="o-icon o-icon--spacer o-icon--size-2-5 o-icon__ui--facebook-f-brands-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--facebook-f-brands"></use>
            </svg>
        </a>
    </li>
</ul>