<ul class="c-language-menu">
    <li class="c-language-menu__item"><a class="c-language-menu__link" href="/" id="flag-de"><span class="c-language-menu__link-text">DE</span></a></li>
    <li class="c-language-menu__item"><a class="c-language-menu__link" href="/en/" id="flag-en"><span class="c-language-menu__link-text">EN</span></a></li>
    <li class="c-language-menu__item"><a class="c-language-menu__link" href="/tr/" id="flag-fr"><span class="c-language-menu__link-text">TR</span></a></li>
    <li class="c-language-menu__item"><a class="c-language-menu__link" href="/it/" id="flag-it"><span class="c-language-menu__link-text">IT</span></a></li>
    <li class="c-language-menu__item"><a class="c-language-menu__link" href="/es/" id="flag-es"><span class="c-language-menu__link-text">ES</span></a></li>
</ul>