<div class="c-tile c-tile--about">
    <div class="c-tile__header">
        <div class="c-tile__title u-visible--lang-en">
            Privacy notice
        </div>
        <div class="c-tile__title u-visible--lang-de">
            Datenschutzhinweise
        </div>
        <div class="c-tile__symbol">
            <svg class="o-icon o-icon--default o-icon--size-2 o-icon__ui--shield-alt-solid-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--shield-alt-solid"></use>
            </svg>
        </div>
    </div>
    <div class="c-tile__main">
        <div class="c-tile__section u-visible--lang-en">
            <p>The protection of your privacy in personal data processing is an important priority for ADK, which we would like to take into consideration all of our business processes. We process your personal data exclusively in compliance with data protection regulations.</p>
        </div>
        <div class="c-tile__section u-visible--lang-de">
            <p>Für ADK ist der Schutz Ihrer Privatsphäre bei der Verarbeitung persönlicher Daten ein wichtiges Anliegen, das wir bei all unseren Geschäftsprozessen berücksichtigen möchten. Wir verarbeiten Ihre persönlichen Daten ausschließlich gemäß den datenschutzrechtlichen Bestimmungen.</p>
        </div>
        <div class="c-tile__section">
            <a class="c-button c-button--primary c-button--footer-tile" id="footer-tile-privacy-action" href="/datenschutz">
                Learn more
            </a>
        </div>
    </div>
</div>