<div class="c-tile">
    <div class="c-tile__header">
        <div class="c-tile__title u-visible--lang-en">
            Testimonials
        </div>
        <div class="c-tile__title u-visible--lang-de">
            Kundenmeinungen
        </div>
        <div class="c-tile__symbol">
            <svg class="o-icon o-icon--default o-icon--size-2 o-icon__ui--comment-regular-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--comment-regular"></use>
            </svg>
        </div>
    </div>
    <div class="c-tile__main">

        <div class="c-tile__section">
            <div class="c-testimonial">
                <div class="c-testimonial__main">
                    <div class="c-testimonial__symbol">
                        <div class="c-testimonial__icon">
                            <svg class="o-icon o-icon--default o-icon--testimonial o-icon__ui--quote-left-solid-dims">
                                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--quote-left-solid"></use>
                            </svg>
                        </div>
                    </div>
                    <blockquote class="c-testimonial__content">
                        <p class="c-testimonial__main">Vielen dank! Ja ich hatte wahnsinnig viel glück, dass ich ADK sofort gefunden habe. All studenten da, mit denen ich gesprochen habe sagten alle, dass ADK schon super war und auch viel besser als alle die andere schule, bei denen sie schon mal studiert hatten. Ich hoffe auf jeden Fall, dass ich nochmal für eine Periode bei Ihnen deutsch lernen kann.</p>
                        <footer>
                            <small class="c-testimonial__aside">Chloe
                                <cite title="Source Title">Großbritanien</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

