<div class="c-tile c-tile--about">
    <div class="c-tile__header">
        <div class="c-tile__title u-visible--lang-en">
            About us
        </div>
        <div class="c-tile__title u-visible--lang-de">
            Über uns
        </div>
        <div class="c-tile__symbol">
            <svg class="o-icon o-icon--default o-icon--size-2 o-icon__ui--globe-europe-solid-dims">
                <use xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--globe-europe-solid"></use>
            </svg>
        </div>
    </div>
    <div class="c-tile__main">
        <div class="c-tile__section u-visible--lang-en">
            <p><strong>ADK Augsburger Deutschkurse - that means learning German in one of the leading private institutes in Germany. We are a certified school.</strong></p>

            <p>Being one of the most renowned and surely one of the oldest language schools in Augsburg (founded in 1963), ADK has specialized in teaching German as a foreign language right from the start.</p>
        </div>
        <div class="c-tile__section u-visible--lang-de">
            <p><strong>ADK in Augsburg, Bayern ist die Sprachschule, um in Deutschland Deutsch zu lernen. Lernen Sie Deutsch in einem Intensivkurs, bereiten Sie sich auf deutsche Sprachprüfungen vor oder verbessern Sie Ihr berufsbezogenes Deutsch.</strong></p>

            <p>ADK ist ein "Familienunternehmen" unter persönlicher Leitung der Inhaber. Unbürokratisch, flexibel und persönlich - so ist hier der Service. Das unterscheidet ADK von großen Schulen.</p>
        </div>
    </div>
</div>