o-icon__brand--facebook-dims {
	width: 430.12px;
	height: 430.12px;
}

o-icon__brand--instagram-dims {
	width: 512px;
	height: 512px;
}

o-icon__brand--linkedin-dims {
	width: 512px;
	height: 512px;
}

o-icon__brand--plone-dims {
	width: 36px;
	height: 36px;
}

o-icon__brand--twitter-dims {
	width: 512px;
	height: 512px;
}

o-icon__brand--xing-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--alert-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--bullhorn-dims {
	width: 576px;
	height: 512px;
}

o-icon__content--calendar-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--chalkboard-dims {
	width: 640px;
	height: 512px;
}

o-icon__content--download-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--hero-dims {
	width: 36px;
	height: 36px;
}

o-icon__content--icon-check-dims {
	width: 18px;
	height: 14px;
}

o-icon__content--information-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--ribbon-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--school-solid-dims {
	width: 640px;
	height: 512px;
}

o-icon__content--shield-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--suitcase-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--sun-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--time-dims {
	width: 512px;
	height: 512px;
}

o-icon__content--video-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--add-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--alert-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--calendar-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--certificate-solid-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--check-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--chevron-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--chevron-left-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--close-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--comment-regular-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--dots-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--envelope-regular-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--facebook-f-brands-dims {
	width: 320px;
	height: 512px;
}

o-icon__ui--globe-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--globe-europe-solid-dims {
	width: 496px;
	height: 512px;
}

o-icon__ui--information-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--instagram-brands-dims {
	width: 448px;
	height: 512px;
}

o-icon__ui--language-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--minus-dims {
	width: 100px;
	height: 100px;
}

o-icon__ui--more-horizontal-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--more-vertical-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--pen-dims {
	width: 36px;
	height: 36px;
}

o-icon__ui--people-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--phone-alt-solid-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--plus-dims {
	width: 64px;
	height: 64px;
}

o-icon__ui--print-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--quote-left-solid-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--remove-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--reorder-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--shield-alt-solid-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--timer-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--trash-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--twitter-brands-dims {
	width: 512px;
	height: 512px;
}

o-icon__ui--user-shield-solid-dims {
	width: 640px;
	height: 512px;
}

o-icon__ui--warning-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--adk-collage-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--adk-page-hero-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--adk-page-section-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--adk-page-section-header-dims {
	width: 1px;
	height: 1px;
}

o-icon__widget--adk-teaser-links-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--card-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--hero-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--horizontal-line-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--image-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--image-cover-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--image-poster-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--listing-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--listing-cards-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--page-header-dims {
	width: 1px;
	height: 1px;
}

o-icon__widget--section-header-dims {
	width: 1px;
	height: 1px;
}

o-icon__widget--separator-dims {
	width: 24px;
	height: 24px;
}

o-icon__widget--slider-dims {
	width: 36px;
	height: 36px;
}

o-icon__widget--text-block-dims {
	width: 1px;
	height: 1px;
}

o-icon__widget--text-formatted-dims {
	width: 1px;
	height: 1px;
}

o-icon__widget--text-html-dims {
	width: 512px;
	height: 512px;
}

o-icon__widget--tile-dims {
	width: 64px;
	height: 64px;
}

