# Development buildout
# ====================

[buildout]
parts =
    ${buildout:fabric-parts}
    ${buildout:site-parts}
    instance-debug
    tmpdir
    omelette
    zopepy
    zodbupdate
    checkversions
    versioncheck
    i18ndude
    i18nize-site
    mkrelease

extends =
    buildout.d/fabric.cfg
    buildout.d/site.cfg
    packages.cfg
    local.cfg

auto-checkout =
    ade25.base
    ade25.fabfiles
    ade25.panelpage
    ade25.sitecontent
    ade25.widgets
    mhb.site
    zodbupdate

always-checkout = force

# Override Zope instance settings to add custom packages managed by mr.developer

[instance-debug]
recipe = plone.recipe.zope2instance
http-address = 8499
user = zope-admin:admin
wsgi = on
verbose-security = on
resources = ${buildout:directory}/resources
eggs =
    ${eggs:main}
    ${eggs:custom}
    ${eggs:addon}
    ${eggs:devtools}
environment-vars =
    zope_i18n_compile_mo_files true
    TUS_ENABLED true
    TUS_TMP_FILE_DIR ${buildout:directory}/var/tmp
zope-conf-additional =
    <product-config beaker>
    session.type            file
    session.data_dir        ${buildout:directory}/var/sessions/data
    session.lock_dir        ${buildout:directory}/var/sessions/lock
    session.key             beaker.session.mhb
    session.secret          hvwctcjLfpzFYa9H9MeRmFMPbEKTWN7w-mhb
    </product-config>

# Change the site name to the appropriate value
# This variable will be used to configure the docker webserver container
[site]
sitename = mhb

[plone-site]
site-id = mhb

[tmpdir]
recipe = z3c.recipe.mkdir
paths = ${buildout:directory}/var/tmp

[test]
recipe = zc.recipe.testrunner
eggs = ${eggs:test}
defaults = ['--auto-color', '--auto-progress']

# Coverage reports
# Run: 'bin/test --coverage=coverage' and 'bin/coveragereport'
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${eggs:main}
    ${eggs:addon}
    ${eggs:devtools}

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${eggs:main}
    ${eggs:devtools}
interpreter = zopepy

[zodbupdate]
recipe = zc.recipe.egg
eggs =
    zodbupdate
    ${eggs:main}
    ${eggs:addon}

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[versioncheck]
recipe = zc.recipe.egg
eggs = plone.versioncheck

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs =
    i18ndude
    potools

[i18nize-site]
recipe = collective.recipe.template
input = ${buildout:directory}/buildout.d/templates/i18nize.in
output = ${buildout:bin-directory}/i18nize-site
mode = 775
dollar = $
domain = meetshaus.blog
packagepath = ${buildout:directory}/src/meetshaus.blog/meetshaus/blog
languages = de

[mkrelease]
recipe = zc.recipe.egg
eggs = jarn.mkrelease