<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer__content">
        <div class="app-footer__main app-footer__main--primary">
            {% include components/footer-tiles.html %}
        </div>
        <div class="app-footer__aside">
            {% include components/footer-colophon.html %}
        </div>
    </div>
    <div class="app-action-bar app-action-bar--offset" id="app-actionbar">
        {% include components/component-action-bar-footer.html %}
    </div>
    {% include components/identifier.html %}
</footer>
