<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer__content">
        <div class="app-footer__main">
            <div class="app-footer__links">
                <a class="app-footer__link" href="/impressum">Impressum</a> |
                <a class="app-footer__link" href="/datenschutz">Datenschutz</a>
            </div>
            <div class="app-footer__copyright">
                Copyright &copy; {{ now.Format "2006" }} Meetshaus. All rights reserved.
            </div>
        </div>
    </div>
</footer>
