.o-brand {
    display: block;
    width: 160px;
    height: 70px;
    @include mq($from: md) {
        width: 320px;
        height: 90px;
    }
    @include mq($from: lg) {
        margin-left: 0;
    }
}
