<nav class="c-nav-bar__main" id="c-site-nav">
    <ul class="c-nav" id="c-nav-list">
        <li class="c-nav__item
                    c-nav__item--hochschule c-nav__item--has-children"><a
                href="https://staging.hfph.de/hochschule" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">Sprachschule
                    </span><span class="c-nav__link--action">
                      <span class="c-nav__toggle c-nav__toggle--open">
                      <svg
                              class="o-icon o-icon--default o-icon--circle o-icon__nav--default o-icon__ui--chevron-dims"><use
                              xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use></svg></span></span></a>
            <ul class="c-nav c-nav--level-1 c-nav__dropdown
                        c-nav__dropdown--hidden has_subtree dropdown"
                aria-label="submenu">
                <li class="c-nav__item
                    c-nav__item--portraet"><a
                        href="https://staging.hfph.de/hochschule/portraet"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Porträt
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--studieren"><a
                        href="https://staging.hfph.de/hochschule/studieren"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Studieren bei den Jesuiten
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--alumni"><a
                        href="https://staging.hfph.de/hochschule/alumni" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Unsere Alumni
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--preise"><a
                        href="https://staging.hfph.de/hochschule/preise" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Preise &amp; Ehrungen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--lehrende"><a
                        href="https://staging.hfph.de/hochschule/lehrende"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Lehrende
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--organisation"><a
                        href="https://staging.hfph.de/hochschule/organisation"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Organisation
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--oeffentliche-veranstaltungen"><a
                        href="https://staging.hfph.de/hochschule/oeffentliche-veranstaltungen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Öff. Veranstaltungen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--nachrichten"><a
                        href="https://staging.hfph.de/hochschule/nachrichten"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Nachrichten
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--philosophie-foerdern"><a
                        href="https://staging.hfph.de/hochschule/philosophie-foerdern"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Philosophie fördern
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--stellenangebote"><a
                        href="https://staging.hfph.de/hochschule/stellenangebote"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Stellenangebote
                    </span></a></li>
            </ul>
        </li>
        <li class="c-nav__item
                    c-nav__item--studierende c-nav__item--has-children"><a
                href="https://staging.hfph.de/studierende" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">Sprachkurse
                    </span><span class="c-nav__link--action">
                      <span class="c-nav__toggle c-nav__toggle--open">
                      <svg
                              class="o-icon o-icon--default o-icon--circle o-icon__nav--default o-icon__ui--chevron-dims"><use
                              xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use></svg></span></span></a>
            <ul class="c-nav c-nav--level-1 c-nav__dropdown
                        c-nav__dropdown--hidden has_subtree dropdown"
                aria-label="submenu">
                <li class="c-nav__item
                    c-nav__item--service"><a
                        href="https://staging.hfph.de/studierende/service"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Kontakt &amp; Services
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--lehrveranstaltungen"><a
                        href="https://staging.hfph.de/studierende/lehrveranstaltungen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Lehrveranstaltungen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--lernmanagement-moodle"><a
                        href="https://staging.hfph.de/studierende/lernmanagement-moodle"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Lernmanagement Moodle
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--semestertermine"><a
                        href="https://staging.hfph.de/studierende/semestertermine"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Semestertermine
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--downloads"><a
                        href="https://staging.hfph.de/studierende/downloads"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Downloads &amp; Formulare
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--studentisches-leben"><a
                        href="https://staging.hfph.de/studierende/studentisches-leben"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Studentisches Leben
                    </span></a></li>
            </ul>
        </li>
        <li class="c-nav__item
                    c-nav__item--studieninteressierte c-nav__item--has-children">
            <a href="https://staging.hfph.de/studieninteressierte" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
               aria-haspopup="true"><span class="c-nav__link-text">Sommerkurse Deutsch Intensiv
                    </span><span class="c-nav__link--action">
                      <span class="c-nav__toggle c-nav__toggle--open">
                      <svg
                              class="o-icon o-icon--default o-icon--circle o-icon--inverse o-icon__nav--default o-icon__ui--chevron-dims"><use
                              xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use></svg></span></span></a>
            <ul class="c-nav c-nav--level-1 c-nav__dropdown
                        c-nav__dropdown--hidden has_subtree dropdown"
                aria-label="submenu">
                <li class="c-nav__item
                    c-nav__item--philosophie-studieren-an-der-hfph"><a
                        href="https://staging.hfph.de/studieninteressierte/philosophie-studieren-an-der-hfph"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Philosophie studieren an der HFPH
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--bachelor"><a
                        href="https://staging.hfph.de/studieninteressierte/bachelor"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Bachelor Philosophie
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--master-philosophie"><a
                        href="https://staging.hfph.de/studieninteressierte/master-philosophie"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Master Philosophie
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--zertifikat-philosophicum"><a
                        href="https://staging.hfph.de/studieninteressierte/zertifikat-philosophicum"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Modulstudium Philosophicum
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--modulstudien-philosophie-tum"><a
                        href="https://staging.hfph.de/studieninteressierte/modulstudien-philosophie-tum"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Modulstudien Philosophie (TUM)
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--leadership-zertifikat"><a
                        href="https://staging.hfph.de/studieninteressierte/leadership-zertifikat"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Philosophie und Leadership
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--globale-solidaritaet"><a
                        href="https://staging.hfph.de/studieninteressierte/globale-solidaritaet"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Globale Solidarität
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--promotion"><a
                        href="https://staging.hfph.de/studieninteressierte/promotion"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Promotion &amp; Habilitation
                    </span></a></li>
            </ul>
        </li>
        <li class="c-nav__item
                    c-nav__item--weiterbildung c-nav__item--has-children"><a
                href="https://staging.hfph.de/weiterbildung" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">Sprachreisen
                    </span><span class="c-nav__link--action">
                      <span class="c-nav__toggle c-nav__toggle--open">
                      <svg
                              class="o-icon o-icon--default o-icon--circle o-icon--inverse o-icon__nav--default o-icon__ui--chevron-dims"><use
                              xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use></svg></span></span></a>
            <ul class="c-nav c-nav--level-1 c-nav__dropdown
                        c-nav__dropdown--hidden has_subtree dropdown"
                aria-label="submenu">
                <li class="c-nav__item
                    c-nav__item--weiterbildung-in-philosophie"><a
                        href="https://staging.hfph.de/weiterbildung/weiterbildung-in-philosophie"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Weiterbildung in Philosophie und Ethik
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--master-ethik"><a
                        href="https://staging.hfph.de/weiterbildung/master-ethik"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Master Ethik
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--zertifikat-ethik-des-interkulturellen-dialogs">
                    <a href="https://staging.hfph.de/weiterbildung/zertifikat-ethik-des-interkulturellen-dialogs"
                       class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                            class="c-nav__link-text">Zertifikat Ethik d. interkult. Dialogs
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--zertifikat-medienethik"><a
                        href="https://staging.hfph.de/weiterbildung/zertifikat-medienethik"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Zertifikat Medienethik
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--zertifikat-medizinethik"><a
                        href="https://staging.hfph.de/weiterbildung/zertifikat-medizinethik"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Zertifikat Medizinethik
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--zertifikat-wirtschaftsethik"><a
                        href="https://staging.hfph.de/weiterbildung/zertifikat-wirtschaftsethik"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Zertifikat Wirtschaftsethik
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--gaststudierende"><a
                        href="https://staging.hfph.de/weiterbildung/gaststudierende"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Gaststudierende
                    </span></a></li>
            </ul>
        </li>
        <li class="c-nav__item
                    c-nav__item--forschung c-nav__item--has-children"><a
                href="https://staging.hfph.de/forschung" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">Termine & Preise - ADK Deutschkuse 2020
                    </span><span class="c-nav__link--action">
                      <span class="c-nav__toggle c-nav__toggle--open">
                      <svg
                              class="o-icon o-icon--default o-icon--circle o-icon--inverse o-icon__nav--default o-icon__ui--chevron-dims"><use
                              xlink:href="/assets/symbol/svg/sprite.symbol.svg#ui--chevron"></use></svg></span></span></a>
            <ul class="c-nav c-nav--level-1 c-nav__dropdown
                        c-nav__dropdown--hidden has_subtree dropdown"
                aria-label="submenu">
                <li class="c-nav__item
                    c-nav__item--forschungsschwerpunkte"><a
                        href="https://staging.hfph.de/forschung/forschungsschwerpunkte"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Forschungsschwerpunkte
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--wissenschaftliche-einrichtungen"><a
                        href="https://staging.hfph.de/forschung/wissenschaftliche-einrichtungen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Wissenschaftliche Einrichtungen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--wissenschaftliche-veranstaltungen"><a
                        href="https://staging.hfph.de/forschung/wissenschaftliche-veranstaltungen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Wissenschaftliche Veranstaltungen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--drittmittelprojekte"><a
                        href="https://staging.hfph.de/forschung/drittmittelprojekte"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Drittmittelprojekte
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--habilitationen"><a
                        href="https://staging.hfph.de/forschung/habilitationen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Habilitationen
                    </span></a></li>
                <li class="c-nav__item
                    c-nav__item--publikationen"><a
                        href="https://staging.hfph.de/forschung/publikationen"
                        class="c-nav__link c-nav__link--default
                    c-nav__link--state-published" aria-haspopup="true"><span
                        class="c-nav__link-text">Publikationen
                    </span></a></li>
            </ul>
        </li>
    </ul>
</nav>
