<nav class="c-nav-bar__main" id="c-site-nav">
    <ul class="c-nav" id="c-nav-list">
        <li class="c-nav__item
                    c-nav__item--hochschule c-nav__item--has-children"><a
                href="/about" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">About
                    </span></a>
        </li>
        <li class="c-nav__item
                    c-nav__item--studierende c-nav__item--has-children"><a
                href="/impressum" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
                aria-haspopup="true"><span class="c-nav__link-text">Impressum
                    </span></a>
        </li>
        <li class="c-nav__item
                    c-nav__item--studieninteressierte c-nav__item--has-children">
            <a href="/datenschutz" class="c-nav__link c-nav__link--default
                    c-nav__link--state-published js-dropdown-toggle"
               aria-haspopup="true"><span class="c-nav__link-text">Datenschutz
                    </span></a>
        </li>
    </ul>
</nav>
